* {
      box-sizing: border-box;
    }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
 
 p,ul {
    color: white;
}

h1 {
    color: gray;
    margin: 2px;
    padding: 30px;
    font-weight: bolder ;
}

section {
    border: 15px solid green;
    margin: 2px;
    padding: 30px;
    width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#fobico {
    font-size: 23px;
    color: brown;
}

.selectivo {
    font-weight: bold;
    color: lightskyblue;
}